# Node
node_modules/
client/node_modules/
server/node_modules/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
server/.env
client/.env

# Builds
build/
dist/
client/build/
server/build/

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Misc
coverage/
.vercel/
.netlify/

